/*
 * Canvas
 */

:root {
  --v: 1000ms;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#textArea {
  position: fixed;
  top: calc(50%);
  left: calc(50% - min(16vw, 120px));
  width: min(32vw, 240px);
  height: min(12.8vw, 96px);
}

#gradientText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #666, #666, #666, #ccc, #666, #666, #666);
  background-size: 300% 100%;
  -webkit-mask-image: url("./assets/aralead_all.svg");
          mask-image: url("./assets/aralead_all.svg");
  opacity: 0;

  &.fluid {
    opacity: 1;
    animation: move calc(var(--v) * 0.6) ease-in-out;
  }
}

#largeText {
  height: min(9vw, 67.5px);

  img {
    width: auto;
    height: min(8vw, 60px);
    vertical-align: baseline;
    opacity: 0;

    &.--slideIn {
      animation: slideIn calc(var(--v) * 0.15) ease-in-out;
      animation-fill-mode: forwards;
    }

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: calc(var(--v) * #{0.05 * $i});
      }
    }
  }
}

#smallText {
  height: min(4vw, 30px);
  padding: 0 min(8vw, 60px);

  img {
    width: auto;
    height: min(3vw, 22.5px);
    vertical-align: text-top;
    opacity: 0;

    &.--slideIn {
      animation: slideIn calc(var(--v) * 0.15) ease-in-out;
      animation-fill-mode: forwards;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: calc(var(--v) * #{0.05 * $i});
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  0% {
    background-position: 100% 0%;
  }
}
